/* styles.css */

/* Define Roboto font for the entire document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Titles */
h1, h2, h3 {
    color: #2c3e50;
}

/* Form */
#itemForm {
    background-color: #ecf0f1;
    padding: 25px;
    border-radius: 5px;
}

/* Table */
#itemsTable th {
    background-color: #ecf0f1;
}
